<div class="container-fluid">

    <div id="example">
        <div id="grid"></div>

        <script>
                $(document).ready(function () {
                    var crudServiceBaseUrl = "http://localhost:15150/gem",
                        dataSource = new kendo.data.DataSource({
                            transport: {
                                read:  {
                                    url: crudServiceBaseUrl + "/getAll",
                                    dataType: "json"
                                },
                                update: {
                                    url: crudServiceBaseUrl + "/insert",
                                    dataType: "json",
                                    type: 'post'
                                },
                                destroy: {
                                    url: crudServiceBaseUrl + "/deleteGem",
                                    dataType: "json",
                                    type: "post",
                                    contentType: 'application/json'
                                },
                                create: {
                                    url: crudServiceBaseUrl + "/insert",
                                    dataType: "json",
                                    type: 'post'
                                },
                                parameterMap: function (options, operation) {
                                    //debugger;
                                    if (operation === 'destroy')
                                        return JSON.stringify(options.models[0].Name);
                                    if (operation === 'create')
                                        return;
                                    if (operation !== "read" && options.models) {
                                        return {models: kendo.stringify(options.models)};
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "Name",
                                    fields: {
                                        Name: { editable: true, nullable: true },
                                        Rarity: { editable: true, nullable: true },
                                        Description: { editable: true, nullable: true },
                                        Price: { type: "number", validation: { required: true, min: 0 } },
                                        Quantity: { type: "number", editable: true, nullable: true, validation: { required: true, min: 0 } }
                                    }
                                }
                            }
                        });

                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        pageable: true,
                        height: 550,
                        toolbar: ["create"],
                        columns: [
                            { field: "Name", title: "Gem Name" },
                            { field: "Rarity", title: "Rarity", width: "120px" },
                            { field: "Description", title: "Description" },
                            { field: "Price", width: "120px", format: "{0:c}", width: "120px" },
                            { field: "Quantity", width: "120px", width: "120px" },
                            { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                        editable: "popup"
                    });
                });
        </script>
    </div>



</div>
